canvas {
	width: 100%;
	height:100%;
	background: black;
}

/* Need to make sure the body takes up 100% of the height
	By targeting the body and html elements, we ensure that
	the body takes up all the space WxH, as well as the margins. 
*/
body, html {
	height: 100%;
	margin: 0;
}