* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #48C9B0;
}

header {
	text-align: center;
	margin: 30px;
	text-decoration: underline;
	color: #3264ff;
}

#head{
	text-align: center;
	margin: 30px;
	font-size: 50px;
	font-family: cursive;
	color: #3264ff;
}

h1#result {
	 font-size: 30px;
	 font-family: cerdana;
	 color: white;
	 text-align: center;
	 margin-bottom: 30px;
}

canvas {
	border: 1px solid white;
	background-color: #3264ff;
	text-align: center;
}

canvas:hover {
	background-color:#37474f;
	color: #CFD8DC;
}

#game {
	position: relative;
	height: 320px;
	width: 640px;
	margin: 0 auto;
}

#tic {
	position: relative;
	margin: 0 auto;
	height: 318px;
	width: 318px;
	display: inline-block;
	float:left;
}

#rules {
	background-color: #37474f;
	border: 1px solid #ffffff;
	position: relative;
	width: 318px;
	height: 318px;
	text-align: left;
	display:inline-block;
	float: right;
}

p {
	padding-left: 20px;
	font-size: 20px;
	margin: 15px;
	text-align: left;
	color: #CFD8DC;

}

h2 {
	font-size: 35px;
	background-color: #3264ff;
	border-bottom: 1px solid #ffffff;
	font-family: cursive;
	color: #CFD8DC;
	padding-top: 5px;
	text-align: center;
}

button {
	margin-top: 15px;
	width: 150px;
	height: 40px;
	font-family: cursive;
	font-size: 21px;
	font-weight:bold;
	border:1px solid white;
	background-color:#3264ff;
	color:#48C9B0;
}

button:hover {
	background-color:#37474f;
	color: #CFD8DC;
}
